@page "/counter"
@page "/counter-attack"
@page "/counter/{NameOfProject}"
@page "/counter/{CurrentCount:int}"
@page "/counter/{NameOfProject}/{CurrentCount:int}"
@page "/counter/{*pageRoute}"



<PageTitle><h3>Counter</h3></PageTitle>

<h1>@NameOfProject</h1>

<p role="status">Current count: @CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<MyFirstComponent @bind-CurrentCounterValue="@CurrentCount" />

<p>@PageRoute</p>

@code {
    [Parameter]
    public int CurrentCount { get; set; } = 0;

    [Parameter]
    public string NameOfProject { get; set; }

    [Parameter]
    public EventCallback<int> OnMultipleOfThree { get; set; }

    [Parameter]
    public string? PageRoute { get; set; }

    private async Task IncrementCount()
    {
        CurrentCount++;

        if (CurrentCount % 3 == 0)
            await OnMultipleOfThree.InvokeAsync(CurrentCount);
    }
}
