@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

Ostatnia wielokrotność trójki to: @LastMultimpleOfThree;

<Counter OnMultipleOfThree="@UpdateLastOfMultipleOfThree" />

<br />
<br />

@* kaskada *@

<input type="checkbox" /> First option
<br />
<input type="checkbox" /> Second option
<br />

<CascadingValue Name="FirstOption" Value="true">
    <FirstLevelComponent />
</CascadingValue>


